In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
import warnings 
warnings.filterwarnings("ignore")

In [2]:
wwc =pd.read_csv('Covid worldwide 1.csv')
wwc.isnull().sum()

Country                      0
Fraction age 0-14 years     37
Fraction age 15-64 years    37
Fraction age 65+ years      37
dtype: int64

In [3]:
wwc1= pd.read_csv('Covid worldwide 2.csv')

In [4]:
wwc1

,Date,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases
0,2020-04-18,USA,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0
1,2020-04-18,Russia,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0
2,2020-04-18,Spain,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0
3,2020-04-18,Brazil,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0
4,2020-04-18,UK,67844241,460437.0,114217.0,15464.0,NaN,1559.0,98409.0
...,...,...,...,...,...,...,...,...,...
6598,2020-05-18,St. Barth,9874,NaN,6.0,NaN,6.0,NaN,0.0
6599,2020-05-18,Western Sahara,595462,NaN,6.0,NaN,6.0,NaN,0.0
6600,2020-05-18,Anguilla,14987,NaN,3.0,NaN,3.0,NaN,0.0
6601,2020-05-18,Lesotho,2140235,NaN,1.0,NaN,NaN,NaN,1.0
6602,2020-05-18,Saint Pierre Miquelon,5797,NaN,1.0,NaN,1.0,NaN,0.0

In [5]:
wwc1.isnull().sum()

Date                      0
Country                   0
Population                0
Total Tests            1098
Total Cases              49
Total Deaths           1236
Total Recovered         285
Serious or Critical    2486
Active Cases             59
dtype: int64

In [6]:
wwc1['Active Cases'].isnull().sum()

59

In [7]:
wwc1['Total Cases'].isnull().sum()

49

In [8]:
wwc1['Total Deaths'].isnull().sum()

1236

In [9]:
wwc1['Total Recovered'][4]

nan

In [10]:
wwc1

,Date,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases
0,2020-04-18,USA,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0
1,2020-04-18,Russia,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0
2,2020-04-18,Spain,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0
3,2020-04-18,Brazil,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0
4,2020-04-18,UK,67844241,460437.0,114217.0,15464.0,NaN,1559.0,98409.0
...,...,...,...,...,...,...,...,...,...
6598,2020-05-18,St. Barth,9874,NaN,6.0,NaN,6.0,NaN,0.0
6599,2020-05-18,Western Sahara,595462,NaN,6.0,NaN,6.0,NaN,0.0
6600,2020-05-18,Anguilla,14987,NaN,3.0,NaN,3.0,NaN,0.0
6601,2020-05-18,Lesotho,2140235,NaN,1.0,NaN,NaN,NaN,1.0
6602,2020-05-18,Saint Pierre Miquelon,5797,NaN,1.0,NaN,1.0,NaN,0.0

In [11]:
wwc2 = wwc1.fillna(0)

In [12]:
wwc2['Total Recovered'].isnull().sum()

0

In [13]:
wwc2['Total Recovered'] = wwc2['Total Cases']-wwc2['Total Deaths']-wwc2['Active Cases']

In [14]:
wwc2['Total Recovered'].isnull().sum()

0

In [15]:
wwc2

,Date,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases
0,2020-04-18,USA,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0
1,2020-04-18,Russia,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0
2,2020-04-18,Spain,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0
3,2020-04-18,Brazil,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0
4,2020-04-18,UK,67844241,460437.0,114217.0,15464.0,344.0,1559.0,98409.0
...,...,...,...,...,...,...,...,...,...
6598,2020-05-18,St. Barth,9874,0.0,6.0,0.0,6.0,0.0,0.0
6599,2020-05-18,Western Sahara,595462,0.0,6.0,0.0,6.0,0.0,0.0
6600,2020-05-18,Anguilla,14987,0.0,3.0,0.0,3.0,0.0,0.0
6601,2020-05-18,Lesotho,2140235,0.0,1.0,0.0,0.0,0.0,1.0
6602,2020-05-18,Saint Pierre Miquelon,5797,0.0,1.0,0.0,1.0,0.0,0.0

In [16]:
wwc2['Active Cases'] = wwc2['Total Cases']-wwc2['Total Deaths']-wwc2['Total Recovered']

In [17]:
wwc2['Total Deaths'] = wwc2['Total Cases']-wwc2['Total Recovered']-wwc2['Active Cases']

In [18]:
wwc2['Death Ratio(in%)'] = wwc2['Total Deaths']/wwc2['Total Cases']*100

In [19]:
wwc2

,Date,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases,Death Ratio(in%)
0,2020-04-18,USA,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0,5.280783
1,2020-04-18,Russia,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0,0.850705
2,2020-04-18,Spain,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0,10.309337
3,2020-04-18,Brazil,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0,6.429388
4,2020-04-18,UK,67844241,460437.0,114217.0,15464.0,344.0,1559.0,98409.0,13.539140
...,...,...,...,...,...,...,...,...,...,...
6598,2020-05-18,St. Barth,9874,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6599,2020-05-18,Western Sahara,595462,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6600,2020-05-18,Anguilla,14987,0.0,3.0,0.0,3.0,0.0,0.0,0.000000
6601,2020-05-18,Lesotho,2140235,0.0,1.0,0.0,0.0,0.0,1.0,0.000000
6602,2020-05-18,Saint Pierre Miquelon,5797,0.0,1.0,0.0,1.0,0.0,0.0,0.000000

In [20]:
wwc2.drop('Date',axis=1,inplace= True)

In [21]:
wwc2

,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases,Death Ratio(in%)
0,USA,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0,5.280783
1,Russia,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0,0.850705
2,Spain,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0,10.309337
3,Brazil,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0,6.429388
4,UK,67844241,460437.0,114217.0,15464.0,344.0,1559.0,98409.0,13.539140
...,...,...,...,...,...,...,...,...,...
6598,St. Barth,9874,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6599,Western Sahara,595462,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6600,Anguilla,14987,0.0,3.0,0.0,3.0,0.0,0.0,0.000000
6601,Lesotho,2140235,0.0,1.0,0.0,0.0,0.0,1.0,0.000000
6602,Saint Pierre Miquelon,5797,0.0,1.0,0.0,1.0,0.0,0.0,0.000000

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
wwc2['Country']=le.fit_transform(wwc2['Country'].astype(str))

In [23]:
wwc2

,Country,Population,Total Tests,Total Cases,Total Deaths,Total Recovered,Serious or Critical,Active Cases,Death Ratio(in%)
0,201,330774664,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0,5.280783
1,158,145927292,1831892.0,36793.0,313.0,3057.0,8.0,33423.0,0.850705
2,180,46752703,930230.0,194416.0,20043.0,74797.0,7371.0,99576.0,10.309337
3,26,212380932,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0,6.429388
4,200,67844241,460437.0,114217.0,15464.0,344.0,1559.0,98409.0,13.539140
...,...,...,...,...,...,...,...,...,...
6598,182,9874,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6599,209,595462,0.0,6.0,0.0,6.0,0.0,0.0,0.000000
6600,5,14987,0.0,3.0,0.0,3.0,0.0,0.0,0.000000
6601,110,2140235,0.0,1.0,0.0,0.0,0.0,1.0,0.000000
6602,165,5797,0.0,1.0,0.0,1.0,0.0,0.0,0.000000

In [24]:
x = wwc2.drop(['Total Deaths','Death Ratio(in%)'],axis=1)
y = wwc2['Total Deaths']

In [25]:
x.skew()

Country                 0.000000
Population              8.743503
Total Tests             9.303605
Total Cases            12.079292
Total Recovered         7.073716
Serious or Critical     9.246370
Active Cases           13.301451
dtype: float64

In [26]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso,Ridge
ls = Lasso()
parameters = {"alpha":[0.0001,0.001,0.01,0.1]}
clf= GridSearchCV(ls,parameters,cv=10)
clf.fit(x,y)
clf.best_params_

{'alpha': 0.0001}

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso,Ridge
ls = Lasso()
parameters = {"alpha":[0.0001,0.001,0.01,0.1]}
clf= GridSearchCV(ls,parameters,cv=10)
clf.fit(x,y)
clf.best_params_

{'alpha': 0.0001}

In [28]:
from sklearn.neighbors import KNeighborsRegressor
neighbors={'n_neighbors':range(1,20)}
knr = KNeighborsRegressor()
gknr = GridSearchCV(knr,neighbors,cv=5)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 1}

In [29]:
lr = LinearRegression()
ls=Lasso(alpha=0.0001)
rg = Ridge(alpha=0.0001)
knr= KNeighborsRegressor(n_neighbors=1)

In [30]:
def maxr2_score(regr,x,y):
    max_r_score = 0 
    for r_state in range(42,100):
        x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=r_state)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr = r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state,"is",r2_score)
        if r2_scr>max_r_score:
            max_r_score = r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state,"is",max_r_score)
    return final_r_state

In [31]:
r_state= maxr2_score(lr,x,y)

r2 score corresponding to  42 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  43 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  44 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  45 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  46 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  47 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  48 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  49 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  50 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  51 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  52 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  53 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  54 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  55 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  56 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  57 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  58 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  59 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  60 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  61 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  62 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  63 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  64 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  65 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  66 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  67 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  68 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  69 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  70 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  71 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  72 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  73 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  74 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  75 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  76 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  77 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  78 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  79 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  80 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  81 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  82 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  83 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  84 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  85 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  86 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  87 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  88 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  89 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  90 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  91 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  92 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  93 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  94 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  95 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  96 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  97 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  98 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  99 is <function r2_score at 0x0000029B49FFFA68>
max r2 score corresponding to  42 is 1.0

In [32]:
r_state= maxr2_score(ls,x,y)

r2 score corresponding to  42 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  43 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  44 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  45 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  46 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  47 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  48 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  49 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  50 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  51 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  52 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  53 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  54 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  55 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  56 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  57 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  58 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  59 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  60 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  61 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  62 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  63 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  64 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  65 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  66 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  67 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  68 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  69 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  70 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  71 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  72 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  73 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  74 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  75 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  76 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  77 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  78 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  79 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  80 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  81 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  82 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  83 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  84 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  85 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  86 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  87 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  88 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  89 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  90 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  91 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  92 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  93 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  94 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  95 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  96 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  97 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  98 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  99 is <function r2_score at 0x0000029B49FFFA68>
max r2 score corresponding to  65 is 0.986116756791435

In [33]:
r_state= maxr2_score(rg,x,y)

r2 score corresponding to  42 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  43 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  44 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  45 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  46 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  47 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  48 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  49 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  50 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  51 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  52 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  53 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  54 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  55 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  56 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  57 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  58 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  59 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  60 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  61 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  62 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  63 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  64 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  65 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  66 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  67 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  68 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  69 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  70 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  71 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  72 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  73 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  74 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  75 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  76 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  77 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  78 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  79 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  80 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  81 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  82 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  83 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  84 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  85 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  86 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  87 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  88 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  89 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  90 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  91 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  92 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  93 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  94 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  95 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  96 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  97 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  98 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  99 is <function r2_score at 0x0000029B49FFFA68>
max r2 score corresponding to  42 is 1.0

In [34]:
r_state= maxr2_score(knr,x,y)

r2 score corresponding to  42 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  43 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  44 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  45 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  46 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  47 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  48 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  49 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  50 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  51 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  52 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  53 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  54 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  55 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  56 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  57 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  58 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  59 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  60 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  61 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  62 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  63 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  64 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  65 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  66 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  67 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  68 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  69 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  70 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  71 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  72 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  73 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  74 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  75 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  76 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  77 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  78 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  79 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  80 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  81 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  82 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  83 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  84 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  85 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  86 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  87 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  88 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  89 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  90 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  91 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  92 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  93 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  94 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  95 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  96 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  97 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  98 is <function r2_score at 0x0000029B49FFFA68>
r2 score corresponding to  99 is <function r2_score at 0x0000029B49FFFA68>
max r2 score corresponding to  49 is 0.9995300816621067

In [40]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42 ,test_size=0.33)
ls.fit(x_train,y_train)
y_pred = rg.predict(x_test)

In [41]:
print("RMSE is:",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2 score:",r2_score(y_test,y_pred))

RMSE is: 9.091591176181361e-10
r2 score: 1.0

In [42]:
from sklearn.externals import joblib
joblib.dump(ls,'World Covid.obj')

['World Covid.obj']

In [43]:
model = joblib.load('World Covid.obj')

In [44]:
model.predict(x_test)

array([5.50698611e+01, 2.09600553e+04, 2.55439801e+02, ...,
       1.54834246e+01, 8.36133996e+01, 1.13454271e+02])